* {
	font-size: 13px;
}

a:hover,a:active {
	text-decoration: none;
}

blockquote,blockquote p {
	color: #999999;
	font-size: 12px;
}

textarea {
	resize: none;
	color: #9F9F9F;
}

.template {
	display: none;
}

.container {
	width: 960px;
}

table {
	width: 100%
}

.margin_bottom10 {
	margin-bottom: 10px;
}

.margin_top5 {
	margin-top: 5px;
}

.margin_top10 {
	margin-top: 10px;
}

.margin_top15 {
	margin-top: 15px;
}

.float_left {
	clear: left;
	float: left;
	white-space: nowrap;
}

.float_right {
	clear: right;
	float: right;
	white-space: nowrap;
}

.text_align_right {
	text-align: right;
}

.margin_right_5 {
	margin-right: 5px;
}

.margin_left_5 {
	margin-left: 5px;
}

.padding_right_5 {
	padding-right: 5px;
}

.heigth_line_height_24 {
	height: 24px;
	line-height: 24px;
}

.main form {
	margin: 0px;
}

.main .name {
	color: #0089C8;
}

.main .title {
	font-size: 14px;
	font-weight: bold;
	color: #0089C8;
}

.main .title:hover {
	text-decoration: underline;
}

.main .title_normal {
	color: #000;
	font-size: 14px;
	font-weight: bold;
}

.main .content {
	color: #777777;
	font-size: 12px;
	word-wrap: break-word;
	word-break:break-all; /*支持IE，chrome，FF不支持*/
}

.main .content_detail {
	display: none;
	word-wrap: break-word; /* IE7 */
}

.main .content img {
	float: left;
	cursor: pointer;
}

.main .content_detail img {
	
}

#big_img {
	cursor: url("/resource/img/cur_min.cur"), pointer;
	cursor: url("/resource/img/cur_max.cur"), pointer;
}

.main .data_ops .show_all a {
	color: #225599;
	float: right;
	font-size: 12px;
}

.main .time {
	font-size: 12px;
}

.main .data_list {
	border: 1px solid #E5E5E5;
	padding: 10px;
	background-color: #FDFDFD;
}

.main .data_list .data_list_title {
	color: #000;
	font-size: 15px;
	font-weight: bold;
	border-bottom: 1px solid #E5E5E5;
	padding-bottom: 10px;
	padding-top: 5px;
}

.main .data_list .data_list_title span {
	font-size: 14px;
	font-weight: bold;
}

.main .data_list .data_list_title img {
	margin-right: 5px;
	margin-bottom: 3px;
}

.main .data_list .more {
	float: right;
}

.main .data_list .more a {
	color: #9F9F9F;
}

.main .datas .data {
	padding-top: 10px;
}

.main .datas .data .data_title,.main .datas .data .data_ops {
	color: #9F9F9F;
}

.main .datas .data .code,.main .datas .data .niubi,.main .datas .data img
	{
	margin-right: 5px;
	font-size: 12px;
	color: #9F9F9F;
}

.main .datas .data .data_ops .topics .topic {
	margin-right: 5px;
	background-color: #C3C3C3;
	padding: 2px 5px;
	height: 20px;
	line-height: 20px;
}

.main .datas .data .data_ops .topics .topic a {
	color: #fff;
}

.project_list li {
	color: #666666;
	font-size: 12px;
	line-height: 20px;
	list-style: square outside none;
	margin-left: 12px;
}

.project_list li a {
	color: #666666;
	display: inline-block;
	font-size: 12px;
	vertical-align: middle;
}

.project_list li a:hover {
	text-decoration: underline;
}

.remind a {
	float: right;
	cursor: pointer;
	font-size: 12px;
	background-color: #99CC33;
	color: #FFFFFF;
	height: 20px;
	line-height: 20px;
	text-align: center;
}

.container .comments {
	border: 1px solid #EEEEEE;
	border-radius: 4px 4px 4px 4px;
	margin-top: 5px;
	padding: 15px;
	position: relative;
	display: block;
}

.container .comments .arrow_up {
	border-color: transparent transparent #EEEEEE;
	border-style: dashed dashed solid;
	border-width: 7px;
	font-size: 0;
	height: 0;
	left: 30px;
	position: absolute;
	top: -14px;
	width: 0;
}

.container .comments .arrow_up .arrow_up {
	border-color: transparent transparent #FFFFFF;
	left: -7px;
	top: -6px;
}

.container .comments textarea {
	height: 48px;
}

.container .user_header_25X25 {
	width: 25px;
	height: 25px;
	max-width: 25px;
}

.container .user_header_48X48 {
	width: 48px;
	height: 48px;
	max-width: 48px;
}

.container .user_header_32X32 {
	width: 32px;
	height: 32px;
	max-width: 32px;
	margin-top: 5px;
}

ul {
	list-style: none;
}

.header {
	width: 100%;
	background-color: #29A7E1;
}

.header .logo {
	margin: 0px;
}

.header .nav_wrap {
	float: left;
	line-height: 35px;
	height: 35px;
	padding: 10px 0px;
}

.header .nav_wrap .nav_link a {
	color: #fff;
	font-family: 微软雅黑;
	font-size: 16px;
}

.header .nav_wrap .nav_link .span2 {
	color: #7A7A7A;
	cursor: pointer;
	height: 30px;
	line-height: 30px;
	min-height: 30px;
	text-align: center;
}

.header .nav_wrap .nav_link .span2:hover {
	color: #FFFFFF;
	text-decoration: none;
}

.header .nav_wrap .nav_link .youarehere {
	color: #fff;
	background-color: #0089C8;
}

.header .nav_wrap .nav_search .icon-search {
	margin-left: -25px;
}

.header #search {
	border: none;
	border-radius: 0px;
}

.header .nav_wrap .share {
	background-color: #99cc33;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: #fffff;
}

.header .nav_wrap .share a {
	color: #fff;
	font-size: 14px;
}

.header .nav_wrap .share:hover {
	text-decoration: none;
}

.header .user {
	text-align: right;
}

.header .user a {
	color: #FFF;
	font-size: 12px;
	text-decoration: none;
	font-family: 微软雅黑;
}

.header .user .nav .name {
	color: #fff;
}

.header .user .caret {
	border-bottom-color: #FFFFFF;
	border-top-color: #FFFFFF;
	opacity: 1;
	margin-top: 15px;
}

.header .user .dropdown {
	text-align: right;
}

.header .user .dropdown-menu {
	background-color: #0089C8;
	min-width: 100px;
	text-align: left;
}

.header .user .dropdown-toggle {
	background-color: transparent;
}

.header .user .dropdown-menu li {
	height: 30px;
	line-height: 30px;
}

.header .user .name {
	padding-right: 5px;
	padding-left: 5px;
	font-weight: bold;
}

.header .user .dropdown-menu li i {
	margin-top: 2px;
	padding-right: 5px;
}

}
.header .user .dropdown-menu li a {
	height: 30px;
	line-height: 30px;
}

.header .user .dropdown-menu a:hover {
	background-color: #99cc33;
	background-image: none;
}

.main .left_bar .carousel {
	margin-bottom: 0px;
}

.main .right_bar .mood {
	background-color: #F6F6F6;
	border: 1px solid #E5E5E5;
	text-align: center;
	padding: 10px;
}

.main .right_bar .mood span a {
	color: #fff;
	font-size: 14px;
}

.main .right_bar .mood textarea {
	width: 190px;
	height: 150px;
}

.main .right_bar .mood .post_mood a {
	float: right;
	color: #fff;
	background-color: #99cc33;
	width: 80px;
	height: 30px;
	line-height: 30px;
}

.main .right_bar .mood .post_mood a:hover {
	text-decoration: none;
}

.footer {
	padding: 10px;
}

.footer a,.footer span {
	font-size: 13px;
	margin-right: 10px;
}

.main .comments .post_comment a {
	float: right;
	text-align: center;
	color: #fff;
	background-color: #99cc33;
	height: 30px;
	line-height: 30px;
	margin-top: 5px;
	width: 80px;
}

.main .comments .post_comment a:hover {
	text-decoration: none;
}

.main .datas .data .data_ops .reply {
	float: right;
	text-align: center;
	color: #ffffff;
	background-color: #29A7E1;
	height: 30px;
	line-height: 30px;
	margin-top: 5px;
	width: 80px;
}

.main .datas .data .data_ops {
	height: 20px;
	line-height: 20px;
	min-height: 20px;
	font-size: 12px;
}

.main .datas .data .data_ops .set_perfect {
	float: right;
	text-align: center;
	color: #ffffff;
	background-color: #29A7E1;
	height: 20px;
	line-height: 20px;
	min-height: 20px;
}

.main .datas .data .data_ops .reset_perfect {
	float: right;
	text-align: center;
	color: #9F9F9F;
}

.main .datas .data .data_ops .reply:hover,.main .datas .data .data_ops .set_perfect:hover,.main .datas .data .data_ops .reset_perfect:hover
	{
	text-decoration: none;
}

.main .datas .data .file .file_ops {
	float: right;
}

.main .datas .data .file .file_ops .download {
	color: #0089C8;
	font-weight: bold;
}

.main .datas .data .file .file_ops span {
	margin-left: 5px;
}

.main .datas .data .file .file_tree a {
	color: #9F9F9F;
	font-weight: bold;
	font-size: 12px;
}

.main .upload_code a {
	float: right;
	color: #7A7A7A;
	background-color: #E5E5E5;
	height: 30px;
	line-height: 30px;
	text-align: center;
	width: 99px;
	color: #7A7A7A;
}

.main .project_comments_count,.main .answer_comments_count,.main .reply_message
	{
	cursor: pointer;
	color: #0089C8;
	font-size: 12px;
	text-decoration: none;
}

.main .code_detail {
	font-size: 12px;
}

.main .code_detail a {
	color: #225599;
	font-size: 12px;
}

.main .code_detail b {
	font-weight: normal;
	margin: 0px 5px;
}

.main .error {
	font-size: 14px;
	color: #DC1615;
	font-weight: bold;
}

.main .must_input {
	font-size: 14px;
	color: #DC1615;
	font-weight: bold;
}

.main .input_item_title,.main .project .upload input {
	font-size: 12px;
	color: #7A7A7A;
	margin-bottom: 5px;
	margin-left: 0px;
}

.main  .topics {
	font-size: 12px;
	color: #7A7A7A;
	background-color: #fff;
	border: 1px solid #CCCCCC;
}

.main .topic {
	color: #7A7A7A;
	font-size: 12px;
	text-align: center;
	cursor: pointer;
	background-color: #E5E5E5;
	height: 30px;
	line-height: 30px;
	min-height: 30px;
}

.main .topic:hover {
	background-color: #99cc33;
	color: #fff;
}

.main .topic a {
	color: #7A7A7A;
}

.main .topic a:hover {
	color: #fff;
}

.main .project .post_project a {
	float: right;
	color: #fff;
	background-color: #29A7E1;
	width: 80px;
	text-align: center;
	height: 30px;
	line-height: 30px;
}

.main .project .post_project a:hover {
	color: #fff;
}

.main .select_file:hover {
	text-decoration: none;
	background-color: #99cc33;
	color: #fff;
}

.main ul {
	margin: 0px;
}

.main ul li {
	margin-bottom: 5px;
	font-size: 12px;
}

.main .select_file {
	color: #7A7A7A;
	background-color: #E5E5E5;
	width: 80px;
	text-align: center;
	height: 30px;
	line-height: 30px;
	margin: 0px;
}

.main .select_file_name {
	color: #225599;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
}

.main .post_message a {
	float: right;
	color: #fff;
	background-color: #99cc33;
	width: 80px;
	text-align: center;
	height: 30px;
	line-height: 30px;
}

.main .post_message a:hover {
	text-decoration: none;
}

.main .upload input {
	display: none;
}

.main .update_user a {
	float: right;
	color: #fff;
	background-color: #29A7E1;
	width: 80px;
	text-align: center;
	height: 30px;
	line-height: 30px;
}

.main .select_file_name {
	color: #225599;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
}

.main .user {
	background-color: #F6F6F6;
	border: 1px solid #E5E5E5;
	padding: 30px 90px;
}

.main .user .welcome {
	font-size: 16px;
	font-family: 微软雅黑;
	font-weight: bold;
}

.main .user .post a {
	color: #fff;
	background-color: #29A7E1;
	text-align: center;
	height: 30px;
	line-height: 30px;
	min-height: 30px;
	margin-left: 0px;
}

.main .user input {
	margin-bottom: 0px;
}

.main .user_create .send_mail a {
	color: #fff;
}

.main .right_bar .user {
	background-color: #F6F6F6;
	border: 1px solid #E5E5E5;
	padding: 10px;
}

.main .right_bar .user .name {
	color: #000000;
	font-size: 15px;
	font-weight: bold;
}

.main .right_bar .user span {
	height: 30px;
	line-height: 30px;
}

.main .right_bar .user .share {
	background-color: #29A7E1;
}

.main .right_bar .user .explore {
	background-color: #E5E5E5;
}

.main .right_bar .user .explore a {
	color: #7A7A7A;
}

.main .right_bar .user span a {
	color: #fff;
	font-size: 14px;
}

.main .right_bar .user .items_count {
	text-align: center;
}

.main .right_bar .user .items_count .split {
	border-right: 1px solid #E5E5E5;
}

.main .right_bar .user textarea {
	width: 190px;
	height: 150px;
}

.main .right_bar table tr td {
	text-align: center;
}

.main .right_bar .user .follow {
	background-color: #99cc33;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: #fff;
}

.main .right_bar .user .follow:hover {
	text-decoration: none;
}

.main .right_bar .user .message {
	background-color: #29A7E1;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: #fff;
}

.main .right_bar .user .message:hover {
	text-decoration: none;
}

.main .right_bar .user .teacher {
	background-color: #29A7E1;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: #fff;
}

.main .right_bar .user .teacher:hover {
	text-decoration: none;
}

.main .user_data table tr td {
	text-align: center;
	cursor: pointer;
}

.main .user_data table tr td:hover {
	background-color: #F6F6F6;
}

.main .user_data .info {
	font-size: 15px;
	font-weight: bold;
}

.main .user_data table tr td span {
	font-size: 15px;
	font-weight: bold;
}

ul.jqueryFileTree {
	font-family: Verdana, sans-serif;
	font-size: 11px;
	line-height: 18px;
	padding: 0px;
	margin: 0px;
}

ul.jqueryFileTree li {
	list-style: none;
	padding: 0px;
	padding-left: 20px;
	margin: 0px;
	overflow: hidden;
	white-space: nowrap;
}

#rememberme {
	float: left;
	margin-right: 5px;
}

.jqueryFileTree li.directory {
	background: url(/resource/img/filetree/directory.png) left top no-repeat;
}

.jqueryFileTree li.css {
	background: url(/resource/img/filetree/css.png) left top no-repeat;
}

.jqueryFileTree li.gif {
	background: url(/resource/img/filetree/gif.png) left top no-repeat;
}

.jqueryFileTree li.htm {
	background: url(/resource/img/filetree/htm.png) left top no-repeat;
}

.jqueryFileTree li.html {
	background: url(/resource/img/filetree/htm.png) left top no-repeat;
}

.jqueryFileTree li.ico {
	background: url(/resource/img/filetree/ico.png) left top no-repeat;
}

.jqueryFileTree li.jar {
	background: url(/resource/img/filetree/jar.png) left top no-repeat;
}

.jqueryFileTree li.java {
	background: url(/resource/img/filetree/java.png) left top no-repeat;
}

.jqueryFileTree li.jpg {
	background: url(/resource/img/filetree/jpg.png) left top no-repeat;
}

.jqueryFileTree li.js {
	background: url(/resource/img/filetree/js.png) left top no-repeat;
}

.jqueryFileTree li.ppt {
	background: url(/resource/img/filetree/ppt.png) left top no-repeat;
}

.jqueryFileTree li.rar {
	background: url(/resource/img/filetree/rar.png) left top no-repeat;
}

.jqueryFileTree li.txt {
	background: url(/resource/img/filetree/txt.png) left top no-repeat;
}

.jqueryFileTree li.xml {
	background: url(/resource/img/filetree/xml.png) left top no-repeat;
}

.jqueryFileTree li.unknown {
	background: url(/resource/img/filetree/unknown.png) left top no-repeat;
}

.jqueryFileTree h4 {
	overflow: hidden;
	white-space: nowrap;
}

.cke_toolbox a.cke_button {
	cursor: pointer;
}
.my_adslot { width: 728px; height: 90px; }
@media(min-width: 500px) { .my_adslot { width: 468px; height: 60px; } }
@media(min-width: 800px) { .my_adslot { width: 728px; height: 90px; } }